<div class="container">
    <div class="row">
        <div class="col-lg-12 text center">
            <h1 class="title">LOGIN INDEX</h1>
        </div>
        <div class="col-lg-12 form-group">
            <label for="">Welcome</label>
            <!-- <%= link_to current_user.username, user_sign_up_path(current_user) %> -->
            <!-- <link_to current_user.username, controller: "users", action: "show", id: current_user> -->
            <label><a href="/user/show/<%= current_user.id %>"><ab><%= current_user.username%></ab></a></label></br>
        </div>
        <div class="col-lg-12 form-group">
            <label for="">List Users</label>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>User Name</th>
                </thead>
                <tbody>
                    <% @user.each do |user| %>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>